* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; /*29.5*/
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 30%;
  }
}

body {
  margin: 0 5rem;
}

@media only screen and (max-width: 700px) {
  .td-3 {
    width: 15vw;
  }
  body {
    margin: 1rem;
  }
}

h1 {
  font-size: 5rem;
  padding: 1rem;
}

h2 {
  font-size: 4rem;
  padding: 0.8rem;
}

h3 {
  font-size: 3.5rem;
  padding: 0.8rem;
}

p {
  color: black;
  font-size: 3rem;
  padding: 0.2rem 0.8rem;
}

img {
  width: 10rem;
}

span {
  font-size: 3rem;
  padding: 0.8rem;
  color: grey;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-image: url(./img/code-wallpaper.jpg);
  background-color: rgba(255, 255, 255, 0.3); */
  /* background-repeat: no-repeat;
  background-position: center; */
}

table {
  padding: 2rem 0;
}

td {
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  vertical-align: top;
}

svg {
  height: 3rem;
  width: 3rem;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(31, 166, 250);
  font-size: 2rem;
  padding: 0.2rem 0.8rem;
  display: block;
}

a.link:link,
a.visited,
a.active {
  display: inline;
  font-size: 3rem;
}

.rating-ul {
  background-color: gray;
  height: 1rem;
  width: 90%;
  margin: 1rem auto;
  border-radius: 100px;
}

.rating {
  list-style: none;
  height: 1rem;
  background-color: rgb(31, 166, 250);
  box-shadow: 0 0 0.15rem rgb(31, 166, 250);
  border-radius: 100px;
}

li.rating-1 {
  width: 20%;
}

li.rating-2 {
  width: 40%;
}

li.rating-3 {
  width: 60%;
}

li.rating-4 {
  width: 80%;
}

li.rating-5 {
  width: 100%;
}
.header-items {
  margin: 3rem;
}

.td-1 {
  width: 2vw;
  vertical-align: top;
  padding-top: 2rem;
  /* text-align: center; */
}
.td-2 {
  min-width: 60vw;
}
.td-3 {
  min-width: 20vw;
}

img.background {
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* 10*/
}

.points {
  padding-left: 5rem;
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}